@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "rouge-github";

body {
  background-color: #fff;
  font: 16px/1.5 "Roboto", sans-serif;
  color:#727272;
  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#000;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#267CB9;
  text-decoration:none;
}

a:hover, a:focus {
  color:#069;
  font-weight: bold;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  margin:0 auto;
}




header {
  margin:0 auto;
  text-align: center;
  background-color: #56BBED;
  height: 320px;
  -webkit-font-smoothing:subpixel-antialiased;

  background-image: url('../img/round.svg');
  background-size: 1500px;
  background-repeat: no-repeat;
  background-position: center;
}

strong {
  color:#222;
  font-weight:700;
}


main {
  width:80%;
  margin:0 auto;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  color: #fff;
  text-align: center;
  background-color: #000;
  margin-top:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  section {
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}



@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}






.logo{
  margin: 6% auto 20px;
}

.logo img {
  min-height: 140px;
  width: 100%;
}

.leo{
  position: absolute;
  top: 10px;
  right: 20px;
}

.dove{
  position: absolute;
  top: -300px;
  left: -400px;
}


/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin: 0 auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 8px 2%;
  min-height: 2px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 540px) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 720px) {
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 960px) {
  .container {
    width: 75%;
    max-width: 960px;
  }
}


.container{
  margin-bottom: 20px;
}

.read{
  margin-top: 10px;
}





/* Circle Avatar Styles */

.circle {
	line-height: 0;		/* remove line-height */ 
	display: inline-block;	/* circle wraps image */
	margin: 5px;
	transition: linear 0.25s;
  height: 128px;
  width: 128px;
}
.circle img {
	border-radius: 50%;	/* relative value for
				   adjustable image size */
}

a.circle {
  color: transparent;
} /* IE fix: removes blue border */	


.about{
  margin-top: 100px;
}

.tittle-logo{
  text-align: center;
  position: relative;
  z-index: 999;
}

.video-box{
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: -80px;
  border-radius: 10px;
  overflow: hidden;
  max-width: 800px;
  z-index: 1;
  object-fit: cover !important;
}

.text-center {
  text-align: center !important;
}

.margin-bouth{
  margin: 40px auto;
}


.quote-hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  max-width: 40px;
}

.contact-block{
  margin-top: 100px;
}

.contact-form{
  width: 600px;
  text-align: center;
  margin: 0 auto;
}

.blob {
  position: absolute;
    top: -180%;
    left: -10%;
}

.tittle-block{
    position: relative;
    z-index: 999;
    font-weight: 400;
  font-style: normal;
}

#moore-text{
  display:none;
  margin-top: 20px;
  }


  .splide__arrow--prev {
    right: 4em;
}

.container-social{
  line-height: 1.22;
}
.social_icons {
  padding: 10px 0 40px 0;
  line-height: 1.22;
}

.social_icons ul{
  overflow: hidden;
}

.social_icons li{
  display:inline-block;
  padding: 0 10px;
  }



  /* Mobile */

  @media only screen and (max-width: 960px) {
    .dove {
      display: none;
    }
  
    .leo{
      display: none;
    }

    .splide__arrows {
      display: none;
    }

    .container-desktop{
      display: none;
    }
  }


@media screen and (min-width: 960px) { /*hide mobile menu for desktop*/
  .container-mobile{
      display:none;
  }
}  