<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/normalize.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/mvp.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/form-reset.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/simple-grid.min?v=" | append: site.github.build_revision | relative_url }}">

    <link rel="stylesheet" href="{{ "/assets/css/splide.min.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/splide-core.min.css?v=" | append: site.github.build_revision | relative_url }}">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="tittle-logo">
        <a class="logo" href="{{ "/" | absolute_url }}"><img alt="logo" src="/assets/img/logo.svg" height="120px"></a>
        <h2>Сильная и цветущая Белгородчина – в твоих руках</h2>
        </div>

        <span class="leo"><img alt="leo" src="/assets/img/leo.svg" height="600px"></a></span> 
        <span class="dove"><img alt="dove" src="/assets/img/dove.svg" height="800px"></a></span>
      </header>
      <main>

        <iframe width="420" height="315" src="http://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>

      {{ content }}


      <section>
      <div class="container">
        <div class="row">
          <div class="col-4">
            <h1 class="tittle">О преимуществах 
              <br>Белгородской области:</br></h1>
          </div>
          <div class="col-8">

          </div>
        </div>
      </div>
    </section>

        <section id="testimonials">
          <blockquote>
              <img alt="1" src="/assets/img/1.svg" height="140"><br>
              до войны – в группе лидеров в России по валовому региональному продукту;
          </blockquote>
      </section>

      <section id="testimonials">
        <blockquote>
            <img alt="1" src="/assets/img/1.svg" height="140"><br>
            до войны – в группе лидеров в России по валовому региональному продукту;
        </blockquote>
    </section>

    <section id="testimonials">
      <blockquote>
          <img alt="1" src="/assets/img/1.svg" height="140"><br>
          до войны – в группе лидеров в России по валовому региональному продукту;
      </blockquote>
  </section>

<section class="about">
<div class="container">
  <div class="row">
    <div class="col-4">
      <h1>Прокламрация</h1>
    </div>
    <div class="col-8">
      Белгородская область обладает огромным потенциалом для развития и роста в социальном, экономическом и культурном измерениях. Это край с уникальной природой и весомыми естественными богатствами. Но первоочередным достоянием Белгородчины являются её люди – смелые, талантливые, энергичные и мудрые. Именно эти люди на протяжении последних десятилетий преобразили область, сделав её привлекательным уголком с точки зрения жителей других регионов. Именно эти люди превращают потенциал края в осязаемую перспективу. Но им нужны соответствующие условия для реализации себя и своих благотворных идей.

      <p><button class="read">Читать далее</button></p>

      
    </div>
  </div>
</div>
</section>

      <div class="container">
        <div class="row">
          <div class="col-4">
            <h1>Кто <b>мы</b> и кто <b>с нами</b></h1>
          </div>
          <div class="col-8">

          </div>
        </div>
      </div>

      <section class="splide" aria-labelledby="carousel-heading">
        
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <aside>
                <span class="circle">
                  <img height="128" width="128" src="/assets/img/Korpusov.jpg" alt="Cloud Chen">
                </span>
                <h3>Дмитрий Корпусов</h3>
                <p>Дмитрий Корпусов</p>
            </aside>
            </li>
            <li class="splide__slide">
              <aside>
                <span class="circle">
                  <img height="128" width="128" src="/assets/img/Korpusov.jpg" alt="Cloud Chen">
                </span>
                <h3>Кравцов Александр</h3>
                <p>Наш партнер и ООО "СОДРУЖЕСТВО"</p>
            </aside>

            </li>
            <li class="splide__slide">
              <aside>
                <span class="circle">
                  <img height="128" width="128" src="http://www.gravatar.com/avatar/9017a5f22556ae0eb7fb0710711ec125?s=128" alt="Cloud Chen">
                </span>
                <h3>Мандрик Евгений</h3>
                <p>ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "УЧЕБНЫЙ ЦЕНТР МАНДРИК СПА"</p>
            </aside>

            </li>
          </ul>
        </div>
      </section>


    <section class="contact-form">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <h1 class="tittle">Напишите нам</h1>
          </div>
          <div class="col-8">
            <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xzzppvnz" method="post">
              <fieldset id="fs-frm-inputs">
                <label for="full-name">Имя</label>
                <input type="text" name="name" id="full-name" placeholder="Имя и Фамилия" required="">
                <label for="email-address">Почтовый ящик</label>
                <input type="email" name="_replyto" id="email-address" placeholder="email@domain.tld" required="">
                <label for="message">Сообщение</label>
                <textarea rows="5" name="message" id="message" placeholder="Сообщение" required=""></textarea>
                <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
              </fieldset>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
    </section>

      </main>

      <footer>
      <p> копирайт</p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/splide.min.js" | relative_url }}"></script>

    <script>
      var splide = new Splide( '.splide', {
  type     : 'loop',
  focus    : 'center',
  autoplay: true,
  autoWidth: true,
} );

splide.mount();
    </script>
  </body>
</html>
