<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/normalize.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/mvp.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/form-reset.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/simple-grid.min?v=" | append: site.github.build_revision | relative_url }}">

    <link rel="stylesheet" href="{{ "/assets/css/splide.min.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/splide-core.min.css?v=" | append: site.github.build_revision | relative_url }}">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a class="logo" href="{{ "/" | absolute_url }}"><img alt="logo" src="/assets/img/logo.svg" height="120px"></a>
        <h2>Сильная и цветущая Белгородчина – в твоих руках</h2>

        <span class="leo"><img alt="leo" src="/assets/img/leo.svg" height="600px"></a></span> 
        <span class="dove"><img alt="dove" src="/assets/img/dove.svg" height="420px"></a></span>
      </header>
      <main>

      {{ content }}


<div class="container">
  <div class="row">
    <div class="col-4">
      <h1>Прокламрация</h1>
    </div>
    <div class="col-8">
      Белгородская область обладает огромным потенциалом для развития и роста в социальном, экономическом и культурном измерениях. Это край с уникальной природой и весомыми естественными богатствами. Но первоочередным достоянием Белгородчины являются её люди – смелые, талантливые, энергичные и мудрые. Именно эти люди на протяжении последних десятилетий преобразили область, сделав её привлекательным уголком с точки зрения жителей других регионов. Именно эти люди превращают потенциал края в осязаемую перспективу. Но им нужны соответствующие условия для реализации себя и своих благотворных идей.

      <button>Читать далее</button>
    </div>
  </div>
</div>

      <section> 
        <h1 class="tittle">Напишите нам</h1>
        <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xzzppvnz" method="post">
          <fieldset id="fs-frm-inputs">
            <label for="full-name">Имя</label>
            <input type="text" name="name" id="full-name" placeholder="Имя и Фамилия" required="">
            <label for="email-address">Почтовый ящик</label>
            <input type="email" name="_replyto" id="email-address" placeholder="email@domain.tld" required="">
            <label for="message">Сообщение</label>
            <textarea rows="5" name="message" id="message" placeholder="Сообщение" required=""></textarea>
            <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
          </fieldset>
          <input type="submit" value="Submit">
        </form>

      </section>

      <div class="container">
        <div class="row">
          <div class="col-4">
            <h1>Кто <b>мы</b> и кто <b>с нами</b></h1>
          </div>
          <div class="col-8">
            <div class="splide__arrows splide__arrows--ltr"><button class="splide__arrow splide__arrow--prev" type="button" aria-label="Go to last slide" aria-controls="splide01-track"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40" focusable="false"><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path></svg></button><button class="splide__arrow splide__arrow--next" type="button" aria-label="Next slide" aria-controls="splide01-track"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40" focusable="false"><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path></svg></button></div>
          </div>
        </div>
      </div>

      <section class="splide" aria-labelledby="carousel-heading">
        
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <aside>
                <img alt="HTML only" src="./img/html.svg" height="150">
                <h3>HTML and You're Done</h3>
                <p>MVP styles your root HTML elements, so you don't need to learn a new CSS framework or naming
                    conventions.</p>
                <p><a href="https://www.w3schools.com/TAGS/ref_byfunc.asp" target="_blank"><em>HTML Guide
                            ↗</em></a></p>
            </aside>
            </li>
            <li class="splide__slide">Slide 02</li>
            <li class="splide__slide">Slide 03</li>
          </ul>
        </div>
      </section>

      </main>

      <footer>
      <p> копирайт</p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/splide.min.js" | relative_url }}"></script>

    <script>
      var splide = new Splide( '.splide', {
  type     : 'loop',
  height   : '10rem',
  focus    : 'center',
  autoWidth: true,
} );

splide.mount();
    </script>
  </body>
</html>
